<!-- 

Evaluates the X-PSK-Auth header
Requires the use of the URLRewrite module - available at http://www.iis.net/downloads/microsoft/url-rewrite 

Configuration:

- Modify the match url if needed, otherwise leave it as .* to match all
- Change the pattern match to your preshared key as configured in your CDN config 
- Use this as your web.config, or grab the <rules> components and drop in to an existing web.config
-->

<<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="CDNPSKAuth" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <!--- We recommend you cycle your keys regularly. If you are in a cycle, the pattern should be modified from:
                        pattern="<preshared key>"
                        to:
                        pattern="(<new preshared key>|<old preshared key>)"
                        including the ()s
                        --->
                        <add input="{HTTP_X_PSK_AUTH}" matchType="Pattern" pattern="<preshared key>" ignoreCase="true" negate="true" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page." />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
